.panel-body {
    padding: 50px;
}
.mrg-top label{padding-top: 20px;}
.round-button{
    float:none !important;
  }
  .center-bt {
      margin: 20px auto 10px auto;
      float: none;
  }
  .info-icon{
    font-size: 19px !important;
    color: #0c64ae;
  }