.task {
    
    width: 100%;
    padding: 10px 20px;
    display: inline-block;
    margin-bottom: 6px;
    background-color: rgb(230, 255, 230);
    border-left: 3px solid rgb(111, 169, 59);
}
.task h5 {

    padding-top: 6px;
}
.taskedit {
    border-left: 1px solid #ccc;
    display: inline-block;
    width: 100%;
    margin-top: 5px;
}
.task ul li {
    width: auto;
    float: left;
    padding:4px 5px;
}
.module{
    background: #fbf6f1;
    width: 100%;
    padding: 6px 0;
    display: inline-block;
    margin-bottom: 6px
}
.module ul li {
    width: auto;
    float: left;
    padding: 8px;
}

.taskedit2 {
    border-left: 1px solid #f5f0f0;
    display: inline-block;
    width: auto;
    float:left;
    margin-top: 0px;
    line-height:15px;
}
.inln{
    display: inline;
}
.pro-lbl{
    min-width: 132px;
    margin-bottom: 15px;
}
.tsk-dt {
    margin: 0;
    padding-top: 0 !important;
}
.tsk-lbl{
    color: #828282;
    font-size: 11px;
    padding-top: 4px;
    float: left;
    white-space: pre;
    padding-right: 6px;
}
.assigned  h5{display: table-cell;
padding-right: 15px;
float: left;}
.task-detailz{width:auto;float:left;}
.assigned{background: #e5f3e4;}
.delete-popup .fa-check-circle{
    text-align: center;
    font-size: 36px !important;
    color: #92D94F;
    /* border-radius: 50%;
    border: 3px solid; */
    margin-top: 23px;
    width: 60px;
    height: 60px;
    padding-top: 10px;
}