<br>
<div class="container">
  <div class="panel panel-default panel-danger">
    <div class="panel-heading "><i aria-hidden="true" class="fa fa-smile"></i>Your Free Trial Version has Expired!</div>
    <div class="panel-body">
      Expired Licence Term : <b>30 days </b><br>
      To resume the facilities, Please subscribe.
    </div>
    <div class="panel-footer clearfix">
      <div class="">
          <!-- <button type="button" (click)="subscribe()" class="btn btn-danger">Subscribe</button> -->
          <button type="button" (click)="logout()"  class="btn round-button">Sign Out</button>
      </div>
  </div>
  </div>
  
</div>