<!DOCTYPE html>

<html>

<head>
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Taskit</title>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link href="css/login.css" rel="stylesheet">
	<link href="css/responsive.css" rel="stylesheet">
	 Include the above in your HEAD tag -->
<!-- 
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/line-awesome-font-awesome.min.css">  -->

</head>

<body class="logn">
	<div class="row">
		<div class="col-md-8">
			<div class="row">
				<div class="logn-img">
					<img src="./assets/images/login.jpg" style="width:100%;" />
					<!-- <img src="img/login.jpg"/> -->
					<!-- <div class="paragraph">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tincidunt bibendum malesuada. Fusce tincidunt nibh quis nisi tristique, sed ultrices lorem aliquam. Nam facilisis posuere vehicula. Integer tempus rhoncus volutpat.
					</div> -->
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="row">

				<!-- Mixins-->
				<!-- Pen Title-->

				<div class="container">
					<div class="card"></div>
					<div class="card">
						<h1 class="title">Login</h1>
						<form role="form" (ngSubmit)="reset(newPassword)" novalidate>
							<div class="input-container">
								<div class="col-xs-1"><i class="fa fa-user" aria-hidden="true"></i></div>
								<div class="col-xs-10">
									<input type="text" id="Username" name="email" [(ngModel)]="newPassword.email" required/>
									<label for="Username">Email</label>
									<div class="bar"></div>
								</div>
							</div>
							<div class="clearfix"></div>
						
							
							<div class="input-container" >
									<re-captcha (captchaResponse)="handleCorrectCaptcha($event)" site_key="6LdWoEsUAAAAALf4IQwncQqV0HZPduSL0Ab4QC11" ></re-captcha>
								</div>
							
							<div class="clearfix"></div>
						
              <div class="col-md-12" style="text-align:center;"><button type="submit" class="btn round-button">Reset password</button></div>
              <div class="clearfix"></div>
            </form>
            <br>
            <div class="footer"><a [routerLink]="['/company-login']">Return to login</a></div>
						<div *ngIf="spinner">
								<app-spinner></app-spinner>
							<!-- <div class="">
								<svg class="svg" version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
								 width="50%" height="59px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50; margin-left:25%;" xml:space="preserve">
									<path fill="#000" d="M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z">
										<animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 25 25" to="360 25 25" dur="0.6s" repeatCount="indefinite"
										/>
									</path>
								</svg>
							</div> -->
						</div>
					</div>

				</div>

			</div>

	
		</div>
	</div>

	<!-- Modal -->

	<!-- <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
	<script src="js/bootstrap.min.js"></script> -->


</body>


</html>