<div>
  <h1><b>No.of  tasks vs status</b></h1>
  <div class="row">
      <div class="col-md-5 col-sm-5 col-xs-12">
        <div class="col-md-10 col-md-offset-1">
        <div class="col-md-6 bg-g">*Select Project</div>
        <div class="col-md-6 bg-hash">
          <select  (change)="taskstatus()" [(ngModel)]="selectedValue">
            <option *ngFor="let prj of projects" value="{{prj.id}}">{{prj.project_name}}</option>
          </select>
          <!-- <mat-form-field>
            <mat-select placeholder="Favorite food" (change)="getAllProjects()" [(ngModel)]="selectedValue" name="food">
              <mat-option*ngFor="let prj of projects" [value]="{{prj.id}}">
                {{prj.project_name}}
              </mat-option>
            </mat-select>
          </mat-form-field> -->
        </div> 
        <br>
        <br>
        <!-- <div class="col-md-6 bg-g">*Select Person</div>
        <div class="col-md-6 bg-hash">
          <select>
              <option *ngFor="let usr of users" value="{{usr.id}}">{{usr.f_name}} {{usr.l_name}}</option>
          </select>
        </div>  -->
        <div class="clearfix"></div>
        <div class="row"> 
          <div class="col-md-6">
            <div class="tasklabel">
            START DATE
            <br>
            {{projectsingle?.planned_start_date |  date: 'dd/MM/yyyy' }}
          </div>
          </div>
  
          <div class="col-md-6">
              <div class="row">
              <div class="tasklabel">
               END DATE
              <br>
              {{projectsingle?.planned_end_date |  date: 'dd/MM/yyyy' }}
             </div>
             </div>
            </div>
          
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="tasklabel">
            NO OF TASKS
            <br>
            {{total_task}}
          </div>
          </div>
  
          <div class="col-md-6">
              <div class="row">
              <div class="tasklabel">
             TASK COMPLETED
              <br>
              {{completedTaskCount}}
             </div>
            </div>
             
            </div>
        </div>
        <!-- <div class="row">
          <div class="col-md-6">
            <div class="tasklabel">
            DUE THIS MONTH
            <br>
            10
          </div>
          </div>
  
          <div class="col-md-6">
              <div class="tasklabel">
              DUE THIS YEAR
              <br>
              10
             </div>
            </div>
        </div> -->
      </div>
      </div>
  
      <div class="col-md-7 col-sm-7 col-xs-12">
          <div class="widget mrg-rht2">
             
              <div id="taskstatus" class="chart-container">
          
              </div>
          </div>
      </div>
  </div>
