.side-bar-menu{background:#fff;}
.side-bar-menu li{    border-bottom: 1px solid #e4e4e4;}
.side-bar-menu li a{color:#111;text-align:left;padding: 20px 23px;}
.side-bar-menu li a:hover{background-color: #fe6a07;color:#fff;}
.side-bar-menu li>a:focus{background-color: #fe6a07;color:#fff;}
.side-bar-menu li>a:active{background-color: #fe6a07;color:#fff;}
.side-bar-menu li>a:active1{background-color: #fe6a07;color:#fff;}

ul.breadcrumb {
    padding: 10px 0;
    list-style: none;

    text-align: left;
    color: #d68956;
}
ul.breadcrumb li {
    display: inline;
    font-size: 15px;
}
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}
ul.breadcrumb li a {
    color: #bbbbbb;
    text-decoration: none;
}
ul.breadcrumb li a:hover {
    color: #d68956;
    text-decoration: none;

}
.breadcrumb{    background-color: #f6f7fa;}