@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

body {
  background: white;
}

* {
  font-family: "Open Sans";
}

#slider {
  width: 75%;
  margin: 2em auto 1em;
}

.svg-container {
  /* margin: 3em auto 0; */
  width: 250px;
  /* height: 250px; */
}

svg {
  width: 100%;
  height: auto;
}