.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }
  
 
  .mat-form-field {
    /* font-size: 14px; */
    width: 100%;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }

  .example-container > * {
    width: 100%;
  }

.mat-form-field-infix {
  display: block;
  position: relative;
  flex: auto;
  min-width: 0;
  width: 180px;
}



.mat-form-field-infix {
  padding-top: 0px;
}
/* .mat-select-panel:not{z-index:10000000000000 !important;} */


body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 5px;
}

.version-info {
  font-size: 8pt;
  float: right;
}
.round-button{
  float:none !important;
}
.center-bt {
    margin: 20px auto 10px auto;
    float: none;
}

@page { margin: 0; }
@media print {
       @page { margin: 0; }
}

.back-color{
  color: #757575;
  background-color:#f6f7fa !important;
}
.example-container > * {
  width: 100%;
}
.loader{width:100%;}
.optionz{    background-color: #fff;
  width: 100%;
  overflow: hidden;
  margin: 10px 0;
  padding-top: 10px;}