<body class="home">
    <div class="container-fluid display-table">
        <div class="row display-table-row">

            <div class="col-md-1 col-xs-12 display-table-cell v-align box" id="navigation">
                <!-- sidebar-->
                <user-sidebar></user-sidebar>
                <!-- end sidebar-->
            </div>
            <div class="col-md-12 col-xs-12">
                <!--<button type="button" class="slide-toggle">Slide Toggle</button> -->
                <!-- topbar-->
                <user-topbar></user-topbar>
                <!-- end topbar-->
                <div class="user-dashboard">
                        <h2 _ngcontent-c14="">Dashboard</h2>
                        <ul _ngcontent-c14="" class="breadcrumb">
                          <li _ngcontent-c14=""><a _ngcontent-c14="" href="#">Dashboard</a></li>
                          
                          
                          
                        </ul>
                    <mat-tab-group (selectedTabChange)="onLinkClick($event)">
                        <mat-tab label="Task Vs Status">
                            <div class="row">
                                <div *ngIf="preloader">
                                    <app-spinner></app-spinner>
                                </div>
                
                                <div class="col-md-5 col-sm-5 col-xs-12 gutter">
                                    <div class="sales">
                                        <!-- <div id="projct-3-bar"></div>
                                       {{newyetstart}}
                                        <user-taskstatus-graph [containerId]="'projct-3-bar'" [hold]="countaskhold2.length" [inprogress]="countaskinprogress2.length" [done]="countaskdone2.length" [newy]="selectedValue1" ></user-taskstatus-graph> -->
                                        <user-taskstatus-graph></user-taskstatus-graph>
                                    </div>
                                </div>
                                <div class="col-md-7  col-xs-12 gutter">
                                    <div class="sales">
                                        <user-task-vs-status></user-task-vs-status>
                                    </div>
                                </div>
                               
                            </div>
                        </mat-tab>
                        <mat-tab label="Project Progress">
                                <div *ngIf="preloader">
                                        <app-spinner></app-spinner>
                                    </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 ">
                                    <div class="sales">
                                        <h1> <b>Project Progress</b></h1>
                                        <div class="row">
                                            <div class="col-md-8 col-md-push-1">
                                                <div class="col-md-3 bg-g">*Select Project</div>
                                                <div class="col-md-3 bg-hash">
                                                    <select (change)="taskstatus()" [(ngModel)]="selectedValue">
                                                        <option *ngFor="let prj of projects" value="{{prj.id}}">{{prj.project_name}}</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-3">
                                                    <span class="total">Total {{modulecount}} Milestone</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <ul class="graph-ul" *ngIf="projectProExist else empty2">
                                                <li *ngFor="let proj of projectmodule; let i = index ">
                                                    <div class="divModule">{{proj.module_name}}</div>
                                                    <div class="row">
                                                        <div class="col-md-6">Planned Hour
                                                            <br>{{proj.totalplaned_hr}}</div>
                                                        <div class="col-md-6">Actual Hour
                                                            <br>{{proj.totalactual_hr}} </div>
                                                        <div id="module-progress-{{i}}"></div>
                                                        <user-progress-graph [containerId]="'module-progress-'+ i" [progper]="proj?.totalprogress1"></user-progress-graph>
                                                        <div class="clearfix"></div>
                                                        <div class="col-md-12 label-bg">
                                                            <div class="number">{{proj.totalmoduletask }}</div>
                                                        </div>
                                                        <div id="module-status-{{i}}"></div>
                                                        <user-status-graph [containerId]="'module-status-'+ i" [pieData]="proj?.pieData"></user-status-graph>
                                                        <!-- <user-status-graph [containerId]="'module-status-'+ i" [New]="proj.countasknew" [Progress]="proj.countaskinprogress" [Completed]="proj.countaskdone"
                                                                    [Hold]="proj.countaskhold"></user-status-graph> -->
                                                    </div>
                                                </li>
    
                                            </ul>
                                            <ng-template #empty2>
                                                <h4 class="tsk-sts">No data to display!</h4>
                                            </ng-template>
                                        </div>
                                    </div>
    
                                </div>
                            </mat-tab>
                        <mat-tab label="Planned hours vs Actual hours">
                                <div *ngIf="preloader">
                                        <app-spinner></app-spinner>
                                    </div>
                                      
                                
                            <div class="col-md-12 col-sm-12 col-xs-12 sales">
                                 
                                <div class="whitebg">
                                    <h1 ><b>Planned hours vs Actual Hours</b></h1>
                                    <div class="graph-pland">
                                        <ul class="graph-ul-hour leftaligned" *ngIf="projectProExist else empty3">
                                            <li class="text-center2">
                                                <div class="firstRow firstColumn">PROJECTS</div>
                                                <div class="secondRow firstColumn">Progress</div>
                                                <div class="ThirdRow firstColumn">Planned
                                                    <br>vs
                                                    <br> Actual Hours</div>
                                            </li>
                                            <li class="text-center2" *ngFor="let project of allproject; let i = index">
                                                <div class="prjtitle1">{{project.project_name}}</div>
                                                <div class="col-md-8 mr-top">
                                                    <div class="datelabel">Start
                                                        <span class="pull-right"> {{project.planned_start_date | date: 'dd-MM-yyyy' }}</span>
                                                    </div>
                                                    <div class="datelabel">End
                                                        <span class="pull-right"> {{project.planned_end_date | date: 'dd-MM-yyyy' }}</span>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>

                                                <hr>
                                                <div id="projct-{{i}}-progress"></div>
                                                <user-progress-graph [containerId]="'projct-'+ i+'-progress'" [progper]="project.per"></user-progress-graph>
                                                <label>{{project.in_progress_tasks}}/{{project?.tasktotal}} In Progress</label>
                                                <hr>
                                                <div id="projct-{{i}}-bar"></div>
                                                <user-bar-graph [containerId]="'projct-'+ i+'-bar'" [actual]="project.actualhr" [planning]="project.totalplannedhr"></user-bar-graph>
                                            </li>

                                        </ul>
                                        <ng-template #empty3>
                                            <h4 class="tsk-sts">No data to display!</h4>
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                    <!-- <div class="row">
                        <div class="col-md-5 col-sm-5 col-xs-12 gutter">
                            <div class="sales"> -->
                    <!-- <div id="projct-3-bar"></div>
                                   {{newyetstart}}
                                    <user-taskstatus-graph [containerId]="'projct-3-bar'" [hold]="countaskhold2.length" [inprogress]="countaskinprogress2.length" [done]="countaskdone2.length" [newy]="selectedValue1" ></user-taskstatus-graph> -->
                    <!-- <user-taskstatus-graph></user-taskstatus-graph>
                            </div>
                        </div>
                        <div class="col-md-7  col-xs-12 gutter">
                            <div class="sales">
                                <user-task-vs-status></user-task-vs-status>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div> -->


                    <!-- <div class="col-md-12 col-sm-12 col-xs-12 ">
                        <div class="sales">
                            <h1> Project Progress</h1>
                            <div class="row">
                                <div class="col-md-8 col-md-push-1">
                                    <div class="col-md-3 bg-g">*Select Project</div>
                                    <div class="col-md-3 bg-hash">
                                        <select (change)="taskstatus()" [(ngModel)]="selectedValue">
                                            <option *ngFor="let prj of projects" value="{{prj.id}}">{{prj.project_name}}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <span class="total">Total {{modulecount}} Milestone</span>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <ul class="graph-ul" *ngIf="projectProExist else empty2">
                                    <li *ngFor="let proj of projectmodule; let i = index ">
                                        <div class="divModule">{{proj.module_name}}</div>
                                        <div class="row">
                                            <div class="col-md-6">Planned Hour
                                                <br>{{proj.totalplaned_hr}}</div>
                                            <div class="col-md-6">Actual Hour
                                                <br>{{proj.totalactual_hr}} </div>
                                            <div id="module-progress-{{i}}"></div>
                                            <user-progress-graph [containerId]="'module-progress-'+ i" [progper]="totalprogress1"></user-progress-graph>
                                            <div class="clearfix"></div>
                                            <div class="col-md-12 label-bg">
                                                <div class="number">{{proj.totalmoduletask }}</div>
                                            </div>
                                            <div id="module-status-{{i}}"></div>
                                            <user-status-graph [containerId]="'module-status-'+ i" [pieData]="proj?.pieData"></user-status-graph>
                                         
                                        </div>
                                    </li>

                                </ul>
                                <ng-template #empty2>
                                    <h4 class="tsk-sts">No data to display!</h4>
                                </ng-template>
                            </div>
                        </div>

                    </div> -->


                    <!-- <div class="col-md-12 col-sm-12 col-xs-12 ">
                        <div class="sales">
                            <h1>Planned hours vs Actual hours</h1>
                            <div>
                                <ul class="graph-ul-hour" *ngIf="projectProExist else empty3">
                                    <li class="text-center2">
                                        <div class="firstRow firstColumn">PROJECTS</div>
                                        <div class="secondRow firstColumn">Progress</div>
                                        <div class="ThirdRow firstColumn">Planned
                                            <br>vs
                                            <br> Actual Hours</div>
                                    </li>
                                    <li class="text-center2" *ngFor="let project of allproject; let i = index">
                                        <div class="prjtitle1">{{project.project_name}}</div>
                                        <div class="col-md-8 mr-top">
                                            <div class="datelabel">Start
                                                <span class="pull-right"> {{project.planned_start_date | date: 'dd-MM-yyyy' }}</span>
                                            </div>
                                            <div class="datelabel">End
                                                <span class="pull-right"> {{project.planned_end_date | date: 'dd-MM-yyyy' }}</span>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>

                                        <hr>
                                        <div id="projct-{{i}}-progress"></div>
                                        <user-progress-graph [containerId]="'projct-'+ i+'-progress'" [progper]="project.per"></user-progress-graph>
                                        <label>{{project.in_progress_tasks}}/{{project?.tasktotal}} In Progress</label>
                                        <hr>
                                        <div id="projct-{{i}}-bar"></div>
                                        <user-bar-graph [containerId]="'projct-'+ i+'-bar'" [actual]="project.actualhr" [planning]="project.totalplannedhr"></user-bar-graph>
                                    </li>

                                </ul>
                                <ng-template #empty3>
                                    <h4 class="tsk-sts">No data to display!</h4>
                                </ng-template>
                            </div>
                        </div>
                    </div> -->




                </div>

            </div>
            <!-- footer-->
            <user-footer></user-footer>
            <!-- end footer-->
        </div>
    </div>
    <!-- Modal -->
</body>