<body class="home">
    <div class="container-fluid display-table">
      <div class="row display-table-row">
        <div class="col-md-1 col-xs-2 display-table-cell v-align box" id="navigation">
          <user-sidebar></user-sidebar>
        </div>
        <div class="col-md-12 col-xs-12">
          <user-topbar></user-topbar>
          <br>
          <div class="col-md-12">
            <h3>Test Page</h3>
          </div>
          <!-- <div class="example-container mat-elevation-z8">
            <mat-table #table [dataSource]="dataSource" matSort>
          
              <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
              </ng-container>
          
              <ng-container matColumnDef="project_name">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.project_name}} </mat-cell>
              </ng-container>
          
              <ng-container matColumnDef="project_type">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Type </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.project_type}} </mat-cell>
              </ng-container>
          
              <ng-container matColumnDef="project_code">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Code </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.project_code}} </mat-cell>
              </ng-container> 
          
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
          </div> -->
  
        </div>
      </div>
    </div>
  </body>